/* *{margin: 0
}
html,
body {
  height: 100%;
  padding: 3px;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  max-width: 1000px;
}
main, footer {background-color: #F2EAE7;
padding: 10px;} */
*{margin: 0
}
*, *::before, *::after {
  box-sizing: inherit;}
html,
body {
 margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}
html {
  display: table;
  margin: auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main, footer {background-color: #F2EAE7;
width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;}
img {
    max-width: 100%;
  height: auto;
}
.icon {
  max-width: 40px;
  height: auto;
  margin-left: 10px;
}
.flex_right {
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.flex_row {
    display: flex;
    flex-direction: row;
}
.space_between {
justify-content: space-between;
}
.center {
  display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
}
.marg_{
  margin-top: 25px;
  margin-bottom: 25px;;
}
.max_400 {
  max-width: 400px;
}
.max_h_200 {
  max-height: 200px;
  width: auto;
}
.flex_c {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.marg_top_20 {
  margin-top: 20px;
}
@media (width <=600px) {
    .mv_center {
  display: block;
  text-align: center;
}
h2 {
    margin-top: 30px;
}
.marg_bottom_30 {
    margin-bottom: 30px;
}
.grid_1-1_ms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
 margin-bottom: 30px;
 max-width: 1000px;
 width: 100%;
}
.order1{
  order: 1;
  grid-column: 1/3;
}
.order2{
  order: 2;
  grid-column: 1/3;
}
.order3{
  order: 3;
}
.order4{
  order: 4;
}
.order5{
  order: 5;
}
.order1v2{
order: 5;
grid-column: 2/3;
grid-row: 3/5;
}
.order2v2 {
  order: 4;
grid-column: 1/2;
}
.order3v2 {
  order: 1;
grid-column: 1/3;
grid-row: 1/2;
}
.order4v2 {
order: 2;
grid-column: 1/3;
grid-row: 2/3;
}
.order5v2 {
order: 3;
grid-column: 1/2;
}
.ms_center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
@media (width > 600px){
.grid_2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid_3-2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 20px;
 margin-bottom: 30px;
 max-width: 1000px;
 width: 100%;
}
.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
  margin: 20px;
 margin-bottom: 30px;
 max-width: 1000px;
 width: 100%;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
  margin: 20px;
 margin-bottom: 30px;
 max-width: 1000px;
 width: 100%;}

main, footer {
  padding: 30px;
}
.order1{
  order: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}
.order2{
  order: 2;
  grid-column: 1/2;
}
.order3{
  order: 3;
  grid-column: 1/2;
}
.order4{
  order: 4;
  grid-column: 2/3;
  grid-row: 1/3;
  margin: 0 auto;
}
.order5{
  order: 5;
  margin: 0 auto;
}
.order1v2{
order: 1;
grid-column: 1/2;
grid-row: 1/3;
margin: 0 auto;
}
.order2v2 {
  order: 2;
grid-column: 1/2;
grid-row: 3/4;
margin: 0 auto;
}
.order3v2 {
  order: 3;
grid-column: 2/3;
grid-row: 1/2;
}
.order4v2 {
order: 4;
grid-column: 2/3;
grid-row: 2/3;
}
.order5v2 {
order: 5;
grid-column: 2/3;
}
.ms_only {
  display: none;
}
}