*{margin: 0
}
html,
body {
  height: 100%;
  padding: 3px;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  max-width: 1000px;
}
main, footer {background-color: #F2EAE7;
padding: 10px;}
img {
    max-width: 100%;
  height: auto;
}
.icon {
  max-width: 40px;
  height: auto;
  margin-left: 10px;
}
.flex_right {
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center {
  display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
}
@media (width <=600px) {
    .mv_center {
  display: block;
  text-align: center;
}
.ms_center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
@media (width > 600px){
.grid_2-3 {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid_3-2 {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main, footer {
  padding: 30px;
}
}