@font-face {
    font-family: fuzzy;
    src: url(../fonts/FuzzyBubbles-Regular.ttf);
}
@font-face {
    font-family: que;
    src: url(../fonts/Questrial-Regular.ttf);
}
h1 {
    font-family: fuzzy;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 20px;
}
h2{
   font-family: fuzzy;
    font-size: 32px; 
    padding-top: 10px;
}
h3 {
    font-family: fuzzy;
    font-size: 24px; 
    
}
p {
    font-family: que;
    font-size: 18px;
    margin: 5px;
    max-width: 550px;
}
main {
    border: 1px solid black;
    position: relative;
    z-index: 1;
    margin-top: 30px;
}
.deaktiv {
    font-family: fuzzy;
    border: 1px solid black;
    padding: 10px;
    background-color: #F2EAE7;
    position: relative;
    z-index: 2;
}
.aktiv {
    font-family: fuzzy;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    background-color: #F2EAE7;
    position: relative;
    z-index: 3;
    margin-bottom: -1px;
}
li {
    text-decoration: none;
    list-style: none;
    font-family: que;
    font-size: 18px;
}
.marg_bottom_10 {
    margin-bottom: 10px;
    padding-top: 10px;
}
.padding_20 {
    padding: 20px;
}
.border {
    border: 1px solid black;
}
a {
    text-decoration: none;
    color: black;
    font-family: que;
}
.cta_blaa {
    font-family: que;
    display: flex;
    justify-content: center;
    background-image: url(../icon/cta_blaa.png);
    background-position: center;
    height: 56px;
    width: 150px;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: right;
    align-items: center;
    margin: 10px;
}
.cta_orange {
    font-family: que;
    display: flex;
    justify-content: center;
    background-image: url(../icon/cta_orange.png);
    background-position: center;
    height: 56px;
    width: 150px;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: right;
    align-items: center;
    margin: 10px;
}

@media (width <=600px) {
    .cta_blaa_wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .ms_hvid_blok {
        display: block;
    background-color: white;
    }
}
@media (width > 600px){
    .cta_blaa_wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .hvid_blok {
    display: block;
    background-color: white;
}
}
